@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListForAdmin";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}

@{
    string statusBadge = "";
    string statClass = "";
    string stat = "";
    string statStyle = "";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class="card-title" style="margin: 0;">Bloglar</h1>
                <a class="btn btn-warning btn-sm" href="/Admin/Blog/ExportDynamicExelBlogList/" style="padding: 10px 20px; text-decoration: none;">Excel Tablosu</a>
            </div>
            <br />
            <br />
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Kategori</th>
                        <th>Tarih</th>
                        <th>Aksiyonlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        {
                            if (item.BlogStatus)
                            {
                                stat = "Aktif";
                                statClass = "fa fa-solid fa-toggle-on";
                                statStyle = "color: #6eea39;";
                            }
                            else
                            {
                                stat = "Pasif";
                                statClass = "fa fa-solid fa-toggle-off";
                                statStyle = "color: #ff0000;";

                            }
                        }
                        <tr>
                            <td><img width="60px" height="60px" src="@item.BlogImage" alt="Blog Image" /></td>
                            <td>@item.BlogTitle</td>
                            <td>@item.BlogContent.Substring(0, 200)</td>
                            <td> <label class="badge badge-primary"> @item.Category.CategoryName</label> </td>
                            <td>@item.BlogCreateDate.ToShortDateString()</td>
                            @*  <td><label class="@statusBadge">@stat</label></td> *@
                            <td width="150px" align="center">

                                <!-- Aktif/Pasif Yapma Butonu -->
                                <a href="/Admin/Blog/BlogChangeStatus/@item.BlogID/" class="btn btn-outline-secondary btn-sm" title="Aktif/Pasif Yap" onclick="return confirm('Durumu değiştirmek istediğinize emin misiniz?');">

                                    <i class="@statClass" style="@statStyle"></i>
                                </a>

                                <!-- Görüntüleme Butonu -->
                                <a href="/Blog/BlogReadAll/@item.BlogID/" class="btn btn-outline-info btn-sm" title="Görüntüle">
                                    <i class="fa fa-eye"></i>
                                </a>

                                <!-- Düzenleme Butonu -->
                                <a href="/Admin/Blog/EditBLog/@item.BlogID/" class="btn btn-outline-primary btn-sm" title="Düzenle">
                                    <i class="fa fa-edit"></i>
                                </a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<br />
