 @model IEnumerable<EntityLayer.Concrete.Contact>

@{
    ViewData["Title"] = "ContactDetails";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutArea.cshtml";
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox ">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Mailler</a>
                        <div class="space-25"></div>
                        <h5>Klasörler</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="/Admin/Contact/Index/"> <i class="fa fa-inbox "></i> Gelen Kutusu <span class="label label-warning float-right">16</span> </a></li>
                            <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Gönderilen</a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                     
                    <h2>
                        Mesajı Oku
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md"> 
                        <h3>
                            <span class="font-normal">Adı: </span>@item.ContactUserName 
                        </h3>
                        <h5>
                            <span class="float-right font-normal">@item.ContactDate.ToLongDateString()</span>
                            <span class="font-normal">E mail: </span>@item.ContactMail
                        </h5>
                    </div>
                </div>
                <div class="mail-box"> 
                    <div class="mail-body">
                        <h3>
                            <span class="font-normal">Konu: </span>@item.ContactSubject 
                        </h3>
                        <p>@item.ContactMessage</p> 
                    </div>

                    <div class="mail-body text-right tooltip-demo">
                        <a class="btn btn-sm btn-white" href="mail_compose.html"><i class="fa fa-reply"></i> Reply</a> 
                        <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
                        <a href="/Admin/Contact/ContactDelete/@item.ContactID/" title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm btn-white"><i class="fa fa-trash-o"></i> Remove</a>
                    </div>
                    <div class="clearfix"></div>


                </div>
            </div>
        }
    </div>
</div>