@using EntityLayer.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{
    string status = "";
    string statusText = "";
    string statusBadge = "";
    string stat = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategoriler</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="%10">#</th>
                        <th width ="%10">Kategori Adı</th>
                        <th>Kategori Açıklama</th>
                        <th width="%10">Durum</th>
                        <th width="%10">Aktif/Pasif</th>
                        <th width="%10"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        {
                            
                        if (item.CategoryStatus)
                        {
                            stat = "Aktif";
                            status = "btn btn-w-m btn-primary";
                            statusText = "Pasif Yap";
                            statusBadge = "badge badge-success";
                        }
                        else
                        {
                            stat = "Pasif";
                            status = "btn btn-w-m btn-danger";
                            statusText = "Aktif Yap";
                            statusBadge = "badge badge-danger";
                        }
                        }
                        <tr>
                            <td>@item.CategoryID</td>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td><label class="@statusBadge">@stat</label></td>
                            <td><a href="#" class="@status">@statusText</a></td>
                            <td><a href="#" class="btn btn-w-m btn-warning">Düzenle</a></td>
                              
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

