@using EntityLayer.Concrete

 @model List<Blog>
@{
    ViewData["Title"] = "WriterProfileCard";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@* @ViewBag.WriterName
@ViewBag.WriterImage
@ViewBag.WriterEmail
@ViewBag.WriterStatus
@ViewBag.WriterAbout
  *@
 

<div class="card" style="display: flex; align-items: center; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); font-family: Arial, sans-serif; width: 100%; background-color: #fff;">
    <div style="flex-shrink: 0;">
        <img src="@ViewBag.WriterImage" alt="Profile Image" style="border-radius: 50%; width: 120px; height: 120px;">
    </div>
    <div style="flex-grow: 1; margin-left: 20px;">
        <h5 class="card-title" style="margin-bottom: 10px; font-size: 1.5rem;">@ViewBag.WriterName</h5>
        <p class="card-subtitle" style="color: #888; margin-bottom: 10px;">@ViewBag.WriterEmail</p>
        <p class="card-subtitle" style="color: #888; margin-bottom: 10px;">Yazar Durum: @ViewBag.WriterStatus</p>
        <p class="card-text" style="color: #666;">@ViewBag.WriterAbout</p>
    </div>
    
</div>

<div class="card-footer" style="display: flex; justify-content: flex-end; background-color: transparent; border-top: none; margin-top: 15px;">
    <a href="#" style="text-decoration: none; margin-right: 10px; color: #333;"><i class="mdi mdi-facebook"></i></a>
    <a href="#" style="text-decoration: none; margin-right: 10px; color: #333;"><i class="mdi mdi-twitter"></i></a>
    <a href="#" style="text-decoration: none; margin-right: 10px; color: #333;"><i class="mdi mdi-linkedin"></i></a>
</div>
