@model UserUpdateViewModel

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
 
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Düzenleme</h4>
                <form class="forms-sample" method="post"> 
                    <div class="form-group">
                        <label for="exampleInputName1">Yazar Ad Soyad</label>
                       <input type="text"  class="form-control" asp-for="@Model.namesurname"/> 

                        @* @Html.ValidationMessageFor(x => x.NameSurname, "", new { @class = "text-danger" }) *@
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail3">Email</label> 
                       <input type="text"  class="form-control" asp-for="@Model.email"/> 
                        @* @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" }) *@
                    </div>
 
                    <div class="form-group">
                        <label for="exampleInputEmail3">Kullanıcı Adı</label>
                       <input type="text"  class="form-control" asp-for="@Model.username"/> 
                        
                       @*  @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" }) *@
                    </div>
@*
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre</label>
                        @Html.TextBoxFor(x => x.PasswordHash, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PasswordHash, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Yazar Görsel</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Görsel Yükle">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div> *@

                    <div class="form-group">
                        <label for="exampleTextarea1">Yazar Resim</label>
                        <input type="text" class="form-control" asp-for="@Model.ımageurl" /> 
                    </div>

                    @* <div class="form-group">
                <label for="exampleTextarea1">Yazar Hakkında</label>
                @Html.TextAreaFor(x => x.WriterAbout, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.WriterAbout, "", new { @class = "text-danger" })
                </div>

                <div>
                <label>Yazar Durumu</label>
                @Html.CheckBoxFor(x => x.WriterStatus)
                </div>
                *@
                    <br />
                    <br />

                    <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                    <button type="reset" class="btn btn-light">İptal</button>
                </form>
            </div>
        </div>
    </div>
 