@model UserSignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Core Blog</title>

    <link href="~/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/css/style.css" rel="stylesheet">

    <style>
        body {
            background: url('/inspinia-gh-pages/img/Login.jpg') no-repeat center center fixed;
            background-size: cover;
            height: 100vh; /* Tam ekran yüksekliği */
            margin: 0;
            display: flex;
            justify-content: center; /* Yatayda ortalar */
            align-items: center; /* Dikeyde ortalar */
        }

        .middle-box {
            background-color: rgba(0, 0, 0, 0.6); /* Siyah arka plan %60 saydam */
            padding: 20px;
            border-radius: 10px;
            color: black; /* Yazı rengini siyah yap */
            width: 100%; /* Genişliği tam yap */
            max-width: 400px; /* Max genişlik ver */
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Hafif gölge efekti */
        }

            .middle-box p, .middle-box input, .middle-box button {
                color: black;
            }

            .middle-box h2, .middle-box h3 {
                color: white;
            }

        input::placeholder {
            color: lightgray; /* Placeholder rengini değiştirir */
        }
    </style>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>
                <h2>Core Blog</h6>
            </div>
            <h3>Kayıt Ekranı</h3>
            @* <p>Hesap Oluşturun</p> *@
            <form class="m-t" role="form" asp-action="Index">

                <div class="form-group">
                    <span asp-validation-for="@Model.nameSurname" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="@Model.nameSurname" placeholder="Ad Soyad" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Mail" class="text-danger"></span>
                    <input type="email" class="form-control" asp-for="@Model.Mail" placeholder="E-mail" >
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="Kullanıcı Adı">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Şifre" required="">
                </div>

                <div class="form-group">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Şifre Tekrar" required="">
                </div>
                
                <div class="form-group">
                    <div style="color:white" class="checkbox i-checks"><label> <input required type="checkbox"><i></i> Kullanım politikalarını kabul ediyorum.</label></div>
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">Kayıt Ol</button>

                <p style="color:white" class="text-center"><small>Zaten bir hesabın mı var?</small></p>
                <a class="btn btn-sm btn-info btn-block" href="/Login/Index/">Giriş</a>
                <a class="btn btn-sm btn-block  fa fa-home btn-white " href="/Blog/Index/"> Ana Sayfa</a>

                
                <div class="text-danger" asp-validation-summary="ModelOnly">

                </div>
           
            </form>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/inspinia-gh-pages/js/jquery-3.1.1.min.js"></script>
    <script src="~/inspinia-gh-pages/js/popper.min.js"></script>
    <script src="~/inspinia-gh-pages/js/bootstrap.js"></script>
    <!-- iCheck -->
    <script src="~/inspinia-gh-pages/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
